<nav>
    <a href="/51c7f07216c079a06df2de19ea63aade/capstone/">Overview</a>
    <a href="/51c7f07216c079a06df2de19ea63aade/capstone/assignments/">Assignments</a>
    <a href="/51c7f07216c079a06df2de19ea63aade/capstone/cocurricular/">Co-Curricular</a>
    <a href="/51c7f07216c079a06df2de19ea63aade/capstone/other/">Other Activites</a>
    <a href="/51c7f07216c079a06df2de19ea63aade/capstone/academic/">Academic Reflection</a>
    <a href="/51c7f07216c079a06df2de19ea63aade/capstone/spiritual/">Spiritual Reflection</a>
</nav>